@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.ant-btn-primary {
  background-color: #6e431d !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-btn-primary:hover {
  background-color: #af5c13 !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}
.ant-btn-default {
  background-color: #6e431d !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-btn-default:hover {
  background-color: #af5c13 !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-table-container {
  overflow-x: scroll;
}

.ant-input:focus,
.ant-input:hover,
.ant-input:active {
  border-color: #6e431d !important;
}
