@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}
html {
  scroll-behavior: smooth;
}

.ant-btn-primary {
  background-color: #6e431d !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-btn-primary:hover {
  background-color: #af5c13 !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}
.ant-btn-default {
  background-color: #6e431d !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-btn-default:hover {
  background-color: #af5c13 !important;
  color: #fff !important;
  border: 0.5px solid rgba(128, 128, 128, 0.3) !important;
}

.ant-table-container {
  overflow-x: scroll;
}

.ant-input:focus,
.ant-input:hover,
.ant-input:active {
  border-color: #6e431d !important;
}

/* .wrapper-accordion {
  height: 100vh;
  width: 100%;
  display: flex;
} */

.accordion-content {
  /* transition: all 0.5s, cubic-bezier(1, 0, 1, 0); */
}

.accordion-content.show {
  height: auto;
  max-height: 9999px;
}
  /* transition: all 0.5s, cubic-bezier(0, 1, 0, 1); */
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #af5c13 !important;
  border-color: #af5c13 !important;
}

.ant-form-vertical .ant-form-item-label > label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.ant-table-wrapper .ant-table-container table > thead > tr {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.ant-tag {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.ant-divider .ant-divider-inner-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
